html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    height: 100vh;
    margin: 0;
}

.m-2 {
    margin: 2px !important
}

.mt-10{
    margin-top:10px !important;
}

.mt-20{
    margin-top:20px !important;
}

.mt-30{
    margin-top:30px !important;
}

.mt-50{
    margin-top:50px !important;
}

.mt-60{
    margin-top:60px !important;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-bg{
    background-color:#0b0b0b;
}
.footer-bg{
    background-color: #353f4a;
    color: #bfbdbd;
}
.info-tag p small{
    margin-right:20px;
}
